name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install numpy pytest mypy
          python -m pip install "tensorflow>=2.12"
          python -m pip install -e .
      - name: Run mypy
        run: |
          mypy lite_mamba/ --ignore-missing-imports
      - name: Run tests
        run: |
          pytest -q
